:host {
    height: 100%;
    width: 100%;
    
}

.dialog-header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: 20px;
    font-weight: bold;

    .close-button {
        color: #757575;
        transition: color 0.3s;
        outline: none;
        border: none;
        padding: 0 0;

        &:hover {
            color: #d32f2f;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden; 
}

.dialog-content {
    height: 100%;
    padding: 0 2em;
    font-size: 14px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1em;

    .full-width {
        width: 100%;
    }

    mat-form-field {
        margin-top: 16px;
    }
}

.dialog-content > .description {
    grid-column: span 2;
}

.dialog-actions {
    height: 15%;
    padding: 0 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.dialog-actions button {
    height: 50%;
    width: 30%;
    border-radius: 15px;
}

.dialog-actions .cancel-button {
    outline: none;
    border: none;
    color: white;
    background-color: var(--secondary);
    &:hover {
        color: white;
        background-color: var(--secondary-hover); 
    }
}

.dialog-actions .save-button {
    outline: none;
    border: none;
    color: white;
    background-color: var(--primary);

    &:hover {
        color: white;
        background-color: var(--primary-hover); 
    }
}