<div class="task-additional">
    <div class="task-description">
        {{ task().description }}
    </div>
    <div>
        <p> Start day: {{ task().startDate }} </p>
        <p> End day: {{ task().endDate }} </p>
        <p> Starting Hour: {{ task().startHour }}h </p>
        <p> Ending Hour: {{ task().endHour }}h </p>
    </div>
    <div class="div-buttons">
        <button class="cancel-button button"> Cancel Task </button>
        <button class="complete-button button"> Complete Task </button>
    </div>
</div>