<header>
    <div class="container">
        <div class="title">
            <h2> Calendiary </h2>
        </div>
        <div class="extras">
            <div class="others">
                <a href=""> 
                    <p>
                        Home
                    </p> 
                </a>
            </div>
            <div class="others">
                <a href=""> 
                    <p>
                        FAQ
                    </p> 
                </a>
            </div>
            <div class="about">
                <button> About </button>
            </div>
        </div>
    </div>
</header>

<hr>