* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

:host {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 0;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: white;
    padding: 0 10%;
    box-sizing: border-box;
    border: 1px solid #1B1725;
}

.inner_header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.title h2 {
    margin: 0;
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    display: flex;
    align-items: center;
    padding: 10px 20px; 
    color: black;
    text-decoration: none;
    height: auto; 
}

.navigation a:hover {
    border-radius: 4px;
    font-weight: 800;
    text-decoration: underline;
}