$completed: #36bd7c;
$in-progress: #004aad;
$not-started: #f39c12;
$overall: #1e90ff;

$primary: #38b6ff;
$primary-hover: #1565c0;
$secondary: #B0B0B0;
$secondary-hover: #9E9E9E;

$high-priority: #ff5757;
$moderate-priority: #ff914d;
$low-priority: #c9bb40;

$sidebar: #1B1725;

$delete: #fa4747;
$delete-hover: #ff6b6b;