@use '_colors' as colors;

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    padding-top: 80px;
    margin: 0;
    height: calc(100% - 80px); 
    overflow-x: hidden; 
    overflow-y: auto;  
    background-color: #ffffff; 
}

.completed {
    color: colors.$completed;
}

.in-progress {
    color: colors.$in-progress;
}

.not-started {
    color: colors.$not-started;
}

.high-priority {
    color: colors.$high-priority;
}

.moderate-priority {
    color: colors.$moderate-priority;
}

.low-priority {
    color: colors.$low-priority;
}