<div class="dialog-header">
    <span>Delete Group</span>
    <button mat-icon-button class="close-button" (click)="onCancel()" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog-content">
    <p>Are you sure you want to delete this group?</p>
    <p>All tasks asigned to this group will be REMOVED</p>
</div>
<div class="dialog-actions">
    <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
    <button mat-button class="delete-button" (click)="onSave()">Delete</button>
</div>