:host {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.content {
    height: 100%;
    width: 100%;
    padding: 0em 2em;
}

.title {
    margin: 1em 0em;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.summary-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25%;
    width: 100%;
}

.summary-block {
    width: 25%;
    height: 100%;
}

.summary-block .relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-block .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.summary-block canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50% !important;
    height: 50% !important;
}

.summary-block p {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon {
    padding-left: 0.5em;
}

.task {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    margin: 0.3em 0;
    padding: 0.5em 0.5em;
}

.tasks-info {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr 2fr 1fr;
    gap: 1em;
    border-radius: 10px;
    padding: 0em 0.5em;
    margin: 0.3em 0;
}

.tasks-info div {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: start;
}

.tasks-info .priority, .complete {
    text-align: center;
    justify-content: center;
}



.task-basic {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr 2fr 1fr;
    gap: 1em;
}

.task-additional {
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-basic div {
    display: flex;
    align-items: center;
}

.task-basic .priority {
    font-size: small;
    padding: 0.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.task-basic .complete-button {
    border: 0px;
    border-radius: 10px;
    // padding: 0.5em;
    color: white;
    background-color: var(--completed);
}

.task-basic .icon {
    justify-content: end;
}