<app-menu></app-menu>

<div class="content">
    <h2> Dashboard </h2>


    <div class="summary">
        <div class="title">
            <h3> Tasks Summary </h3>
        </div>
        <div class="summary-content">
            @for (chart of charts; track chart.title) {
                <div class="summary-block">
                    <div class="relative">
                        <canvas baseChart
                            [data]="{ datasets: [
                                { 
                                    data: [ chart.tasks, chart.allTasks ], 
                                    backgroundColor: chart.backgroundColor, 
                                    hoverBackgroundColor: chart.hoverBackgroundColor, 
                                    hoverBorderWidth: chart.hoverBorderWidth, 
                                    borderWidth: chart.borderWidth
                                    }
                                ]}"
                            [options]="pieChartOptions"
                            [type]="chartType"
                            >
                        </canvas>
                        <div class="absolute-center">
                            <h1> {{ chart.percentage }} </h1>
                        </div>
                    </div>
    
                    <p> {{ chart.title }} <mat-icon [style.color]="'var(--'+chart.class+')'"> circle </mat-icon> </p>
                </div>
            }
        </div>
        
    </div>

    <div>
        <div class="title">
            <h3> Upcoming Tasks </h3>
        </div>
        <div class="tasks-info">
            <div> Group </div>
            <div> Task </div>
            <div> End Date </div>
            <div class="center"> Priority </div>
            <div class="center"> Task Status </div>
            <div> </div>
        </div>
        <div class="tasks-content">
            @for(task of tasks(); track task.id) {
                <div class="task">
                    <div class="task-basic" (click)="showDescription(task.id)">
                        <div> {{ changeIdforName(task.group) }} </div>
                        <div> {{ task.name }} </div>
                        <div> {{ task.startDate }} </div>
                        <div class="priority" [ngStyle]="{ color: getPriorityColor(task.priority) }"> {{ task.priority }} </div>
                        <div class="priority" [ngStyle]="{ backgroundColor: getStatusColor(task.status) }"> {{ task.status }} </div>
                        <div class="icon"> 
                                <mat-icon style="color: var(--secondary);"
                                (click)="$event.stopPropagation()" 
                                [matMenuTriggerFor]="menu"> more_vert </mat-icon> 
                        </div>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editTask(task.id)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item 
                                    (click)="deleteTask(task.id)" 
                                    style="color: red">
                                <mat-icon style="color: red">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>

                    </div>
                    @if ( visibleTaskId === task.id ) {
                        <app-task-description [task]="task" > </app-task-description>

                    }
                </div>
            }
        </div>
    </div>
</div>

