
<div class="container">
    <div class="hero">
        <div class="hero-body">
            <div class="hero-title">
                <h2> Stay organized and boost productivity </h2>
            </div>
            <div class="hero-description">
                <p> 
                    Plan events, track tasks, manage notes, and visualize your progress—all in one simple and intuitive app designed to keep your life in balance.
                </p>
                <div class="hero-buttons">
                    <button class="start">
                        Get Started
                    </button>
                    <a href="# ">
                        <button class="learn">
                            Learn More
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <h2> Images </h2>
            <img src="stockimg.jpg" alt="Calendary">
        </div>
    </div>

    <div class="plank_type_1" id="plank_Calendary">
        <div class="plank-image">
            <img src="stockimg.jpg" alt="Calendary">
        </div>
        <div class="plank-body">
            <div class="plank-title">
                <h3>Calendary</h3>
            </div>
            <div class="plank-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque eros quis arcu aliquet, quis bibendum magna bibendum. Nullam vitae tincidunt turpis. Donec vel vestibulum leo. Duis id cursus quam. Donec eget aliquet augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                </p>
            </div>
        </div>
    </div>
    <div class="plank_type_2">
        <div class="plank-body">
            <div class="plank-title">
                <h3>Agenda</h3>
            </div>
            <div class="plank-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque eros quis arcu aliquet, quis bibendum magna bibendum. Nullam vitae tincidunt turpis. Donec vel vestibulum leo. Duis id cursus quam. Donec eget aliquet augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                </p>
            </div>
        </div>
        <div class="plank-image">
            <img src="stockimg.jpg" alt="Calendary">
        </div>
    </div>
    <div class="plank_type_1">
        <div class="plank-image">
            <img src="stockimg.jpg" alt="Calendary">
        </div>
        <div class="plank-body">
            <div class="plank-title">
                <h3>To-Do List</h3>
            </div>
            <div class="plank-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque eros quis arcu aliquet, quis bibendum magna bibendum. Nullam vitae tincidunt turpis. Donec vel vestibulum leo. Duis id cursus quam. Donec eget aliquet augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                </p>
            </div>
        </div>
    </div>
</div>