
<div class="container">
    <h3> Get started! </h3>
    <div class="grid">
        <div class="module">
            <mat-icon>event</mat-icon>
            <p>Agenda</p>
        </div>
        <div class="module">
            <mat-icon>check_circle</mat-icon>
            <p>Tasks</p>
        </div>
        <div class="module">
            <mat-icon fontIcon="calendar_today"></mat-icon>
            <p>Calendar</p>
        </div>
        <div class="module">
            <mat-icon>note</mat-icon>
            <p>Notes</p>
        </div>
    </div>
</div>