* {
    // padding: 0;
    // margin: 0;
    list-style: none;
    text-decoration: none;
}

:host {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.hero {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
}

.hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 0em;
    background-color: #1B1725;
    color: white;
}

.hero-description {
    display: flex;
    flex-direction: column;
}

.hero-description p {
    margin: 1em;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}

.hero-buttons button {
    margin: 0rem 1rem;
    padding: 1rem;

    border: 0px;
    border-radius: 4px;

    font-size:medium;
    transition: background-color 0.3s ease;
}



.hero-buttons .start {
    background-color: #226CE0  ;
}

.hero-buttons .start:hover {
    color: white;
    text-decoration: underline;
}

.hero-buttons .learn {
    background-color: #ffffff;
}

.hero-buttons .learn:hover {
    text-decoration: underline;
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: #ffffff;
    margin: 0em 0em;
    padding: 0em 0em;
}

.hero-img img {
    height: 20em;
}

img {
    height: 10em;
}

#features {
    scroll-margin-top: 80px;
}

.plank_type_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;

}

.plank_type_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #d8d8d8;
}

.plank-image {
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 0;
    height: 15em;
}

.plank-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.plank-body {
    padding: 1em 2em;
}


