<div class="container">
    <ul class="sidebar-menu">
    <!-- First Section -->
        <li class="menu-section dashboard-section">
            <ul class="menu-group">
                <li class="menu-item"> <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" > Dashboard </a> </li>
                <li class="menu-item"> <a> Calendar </a> </li>
            </ul>
        </li>
        <hr class="menu-divider">
        <!-- Second Section -->
        <li class="menu-section list-section">
            <ul class="menu-group">
                <app-groups></app-groups>
            </ul>
        </li>
        <hr class="menu-divider">
        <!-- Third Section -->
        <li class="menu-section lists-section">
            <ul class="menu-group">
                <li class="menu-item"> <a> ??? </a> </li>
            </ul>
        </li>
    </ul>
</div>

