<div class="container">
    <ul class="sidebar-menu">
    <!-- First Section -->
        <li class="menu-section dashboard-section">
            <ul class="menu-group">
                <li class="menu-item"> <a> Dashboard </a> </li>
                <li class="menu-item"> <a> Calendar </a> </li>
            </ul>
        </li>
        <hr class="menu-divider">
        <!-- Second Section -->
        <li class="menu-section list-section">
            <ul class="menu-group">
                @for (group of groups; track group.id) {
                    <li class="menu-item"> 
                        <a [routerLink]="['/group', group.id]" class="white"> {{ group.group }} </a> 
                        <div class="icon"
                            (click)="$event.stopPropagation()" 
                            [matMenuTriggerFor]="menu"> 
                                <mat-icon style="color: var(--secondary);"> more_vert </mat-icon> 
                        </div>
                    </li>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editGroup(group.id)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item 
                                (click)="deleteGroup(group.id)" 
                                style="color: red">
                            <mat-icon style="color: red">delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                }
                <li class="menu-item"> 
                    <a href="" class="secondary medium"> 
                        New Group 
                    </a>
                    <div>
                        <mat-icon class="secondary"> add </mat-icon>
                    </div>
                </li>
            </ul>
        </li>
        <hr class="menu-divider">
        <!-- Third Section -->
        <li class="menu-section lists-section">
            <ul class="menu-group">
                <li class="menu-item"> <a> ??? </a> </li>
            </ul>
        </li>
    </ul>
</div>

