<app-menu></app-menu>
<div class="content">
    <div class="group-header">
        <h2> NAME OF THE GROUP </h2>
        <button class="start button" (click)="onAddTask($event)"> 
            <mat-icon class="secondary"> add_circle </mat-icon>
            Add New
        </button>
    </div>

    <div class="tasks-info">
        <div> Group </div>
        <div> Task </div>
        <div> End Date </div>
        <div class="center"> Priority </div>
        <div class="center"> Mark as Completed </div>
        <div> </div>
    </div>
    <div class="tasks-content">
        <app-tasks></app-tasks>
    </div>

</div>