:host {
    height: 100%;
    width: 100%;
}

.dialog-header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 20px;
    font-weight: bold;

    .close-button {
        color: #757575;
        transition: color 0.3s;
        outline: none;
        border: none;
        padding: 0 0;

        &:hover {
            color: #d32f2f;
        }
    }
}

.dialog-content {
    height: 70%;
    padding: 16px;
    font-size: 14px;

    .full-width {
        width: 100%;
    }

    mat-form-field {
        margin-top: 16px;
    }
}

.dialog-actions {
    height: 15%;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.dialog-actions button {
    padding: 0.5em 0;
    width: 30%;
    border-radius: 15px;
}

.dialog-actions .cancel-button {
    outline: none;
    border: none;
    color: white;
    background-color: var(--secondary);
    &:hover {
        color: white;
        background-color: var(--secondary-hover); 
    }
}

.dialog-actions .delete-button {
    outline: none;
    border: none;
    color: white;
    background-color: var(--delete);

    &:hover {
        color: white;
        background-color: var(--delete-hover); 
    }
}
