<div class="dialog-header">
    <span>Create Group</span>
    <button mat-icon-button class="close-button" (click)="onCancel()" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form #form="ngForm" (ngSubmit)="onSave(form)">
<div class="dialog-content">
        <mat-form-field appearance="fill">
            <mat-label>Group Name</mat-label>
            <input matInput name="group" ngModel #name="ngModel" placeholder="Enter task title" minlength="3" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="description">
            <mat-label>Description</mat-label>
            <textarea matInput name="description" ngModel required #email="ngModel" placeholder="Enter description" rows="4"></textarea>
        </mat-form-field>
</div>
<div class="dialog-actions" >
        <button mat-button class="cancel-button" type="button" (click)="onCancel()">Cancel</button>
        <button mat-button class="save-button" >Save</button>
</div>
</form>