@for (group of groups(); track group.groupId) {
    <li class="menu-item"> 
        <a [routerLink]="['/group', group.groupId]" class="white"> {{ group.group }} </a> 
        <div class="icon"
            (click)="$event.stopPropagation()" 
            [matMenuTriggerFor]="menu"> 
                <mat-icon style="color: var(--secondary);"> more_vert </mat-icon> 
        </div>
    </li>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditGroup( { groupId: group.groupId } )">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item 
                (click)="onDeleteGroup(group.groupId)" 
                style="color: red">
            <mat-icon style="color: red">delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>
}
<li class="menu-item"> 
    <a (click)="onAddGroup()" class="secondary medium"> 
        New Group 
    </a>
    <div>
        <mat-icon class="secondary"> add </mat-icon>
    </div>
</li>