.button .mat-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 0.5rem;
    color: inherit; 
}


.task {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    margin: 0.3em 0;
    padding: 0.5em 1em;
}

.task-basic {
    display: grid;
    grid-template-columns: 43% 10% 10% 10% 10% 5%;
    gap: 2%;
}

.task-additional {
    display: grid;
    grid-template-columns: 68% 30%;
    grid-template-rows: auto auto;
    gap: 2%;
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-description {
    border-right: 1px solid var(--secondary);
}

.task-additional p {
    padding: 0em 0em;
    margin: 0.5em 0em;
}

.d-grid {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
}

.div-buttons {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.single-button {
    display: flex;
    justify-content: end;
}


.task-basic div {
    display: flex;
    align-items: center;
}

.task-basic .priority {
    font-size: small;
    font-weight: bold;
    padding: 1em;
    border: 0px;
    border-radius: 10px;
    color: white;
    justify-content: center;
}

.button {
    padding: 1em;
    border: 0px;
    border-radius: 10px;
    color: white;
}

.complete-button {
    background-color: var(--completed);
}

.inprogress-button {
    width: 40%;
    background-color: var(--in-progress);
}

.cancel-button {
    background-color: var(--secondary);
}

.task-basic .icon {
    justify-content: end;
}

.center {
    display: block;
    justify-content: center;
}