<app-menu></app-menu>
<div class="content">
    <div class="group-header">
        <h2> NAME OF THE GROUP </h2>
        <button class="start button" (click)="addTask()"> 
            <mat-icon class="secondary"> add_circle </mat-icon>
            Add New
        </button>
    </div>


    <div class="tasks-info">
        <div> Group </div>
        <div> Task </div>
        <div> End Date </div>
        <div class="center"> Priority </div>
        <div class="center"> Mark as Completed </div>
        <div> </div>
    </div>
    <div class="tasks-content">
        @for(task of tasks; track task.id) {
            <div class="task">
                <div class="task-basic" (click)="showDescription(task.id)">
                    <div> {{ task.group }} </div>
                    <div> {{ task.name }} </div>
                    <div> {{ task.date }} </div>
                    <div class="priority" [ngStyle]="{ backgroundColor: getColor(task.priority) }"> {{ task.priority }} </div>
                    <button class="complete-button"> Complete </button>
                    <div class="icon"> 
                            <mat-icon style="color: var(--secondary);"
                            (click)="$event.stopPropagation()" 
                            [matMenuTriggerFor]="menu">
                                more_vert
                            </mat-icon> 
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editTask(task.id)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item 
                                (click)="deleteTask(task.id)" 
                                style="color: red">
                            <mat-icon style="color: red">delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>

                </div>
                @if ( visibleTaskId === task.id ) {
                    <div class="task-additional">
                        {{ task.description }}
                    </div>
                }
            </div>
        }
    </div>

</div>